<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="../public/component/slick/slick.css">
    <link rel="stylesheet" href="../public/component/slick/slick-theme.css">
    <link rel="stylesheet" href="../public/css/homePage.css">
</head>

<body>
    <div class="forBg">
        <img src="../public/images/bg.png" alt="" class="forBg__img">
        <section class="feeling">
            <h4 class="feeling__title" id="feeling__title">想知道，你今天過得好嗎？</h4>
            <div class="feeling__area">
                <div class="feeling__options" id="feeling__options"></div>
                <div class="feeling__selected" id="feeling__selected">
                    <figure class="feeling__selectedItem">
                        <img class="feeling__selectedImg" src="../public/images/rose.jpg" alt="">
                        <figcaption class="feeling__selectedText">新的開始</figcaption>
                    </figure>
                    <figure class="feeling__selectedItem">
                        <img class="feeling__selectedImg" src="../public/images/rose.jpg" alt="">
                        <figcaption class="feeling__selectedText">興奮</figcaption>
                    </figure>
                    <figure class="feeling__selectedItem">
                        <img class="feeling__selectedImg" src="../public/images/rose.jpg" alt="">
                        <figcaption class="feeling__selectedText">永遠快樂</figcaption>
                    </figure>
                </div>
            </div>
        </section>
        
    </div>
    <main class="main">
        <!-- <div class="slideArea" id="slide">
            <img src='https://picsum.photos/300/200?ramdom=10'>
            <img src='https://picsum.photos/300/200?ramdom=20'>
            <img src='https://picsum.photos/300/200?ramdom=30'>
        </div> -->
        <section class="season">
            <h4 class="season__title">季節花選</h4>
            <div class="season__result">
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
                <figure class="season__item">
                    <img class="season__img" src="../public/images/rose.jpg" alt="">
                    <figcaption class="season__text">玫瑰花</figcaption>
                </figure>
            </div>
        </section>
    </main>

    <script src="../public/component/jQuery.min.js"></script>
    <script src="../public/component/slick/slick.min.js"></script>
    <script src="../public/js/homePage.js"></script>
    <script src="../public/js/hpSlide.js"></script>
</body>

</html>