<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>搜尋</title>
  <link rel="stylesheet" href="../public/css/search.css">
</head>

<body>
  <main class="search">
    <header class="search__title">
      <p class="search__titleText">我們找到59件有關玫瑰花的商品</p>
      <button class="search__sortBtn" id="sortBtn">排序</button>
    </header>
    <section class="result">
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
      <figure class="result__item">
        <img src="../public/images/rose.jpg" class="result__img">
        <figcaption class="result__info">
          <p class="result__text">玫瑰花束</p>
          <p class="result__text">NT.999</p>
          <img src="../public/images/shoppingCar-icons.png" class="result__addToCart">
        </figcaption>
      </figure>
    </section>
  </main>
  <dialog id="sortList" class="sortList">
    <ul class="sortList__list">
      <li class="sortList__item"><a href="">金額由低至高</a></li>
      <li class="sortList__item"><a href="">金額由高至低</a></li>
      <li class="sortList__item"><a href="">最新上架</a></li>
      <li class="sortList__item"><a href="">最高人氣</a></li>
    </ul>
  </dialog>
  <script src="../public/js/search.js"></script>
</body>

</html>