#forFlexDiv {
    display: flex;
    justify-content: center;
}


#containerTwo {
    /* border: 2px black solid; */
    margin-top: 0px;
    padding: 0 220px;
    width: 1440px;
    display: flex;
}

#historyOrder {
    width: 100%;
}


#hr {
    margin: 1.5rem 0;
}



#historyDateSelect {
    /* border: 2px seagreen solid; */
    width: 100%;
    margin-top: -10px;
    margin-left: -35px;
}


#datePick {
    /* border: 2px salmon solid; */
    display: flex;
    width: 350px;
}

#prevarrow,
#nextarrow {
    /* border: 2px saddlebrown solid; */
    /* background-color: #ccc; */
    color: #4C4844;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    padding-bottom: 6px;

}

#selectedDate {
    text-align: center;
    font-size: 1.2rem;
    width: 200px;
    color: #4C4844;
    border: none;
}





.orderInformation {
    /* border: 2px seagreen solid; */
    margin-top: 100px;
}




#orderBar {
    /* border: 2px salmon solid; */
    margin-top: 30px;
}



.orderNumber {
    /* border: 2px rgb(28, 22, 112) solid; */
    display: flex;
}

.orderNumber p {
    font-size: 1.5rem;
    color: #4C4844;
}

.orderNumber__detail {
    border-bottom: 1px #4C4844 solid;
}

.orderNumber a {
    text-decoration: none;
    margin-left: auto;
}

.orderState {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    /* border: 2px skyblue solid; */

}

.orderState p {
    color: #4C4844;
    font-size: 1.5rem;
}

.damnHr {
    margin: 8px 0;
}

.dispperDiv {
    color: #4C4844;
    /* border: 1px rgb(23, 219, 187) solid; */
    margin-Top: 100px;
    text-align: center;
    font-size: 2rem;
    opacity: 0.5;
}

.imgSize {
    width: 250px;
    padding-left: 50px;
    /* border: 1px red solid; */

}





@media screen and (max-width: 391px) {


    #container {
        /* border: 2px black solid; */
        margin-top: 50px;
        padding: 0 20px;
        width: 1440px;
        display: flex;
    }

    #historyDateSelect {
        /* border: 2px seagreen solid; */
        width: 100%;
        margin-top: -10px;
        margin-left: 0px;
    }

    #datePick {
        /* border: 2px salmon solid; */
        display: flex;
        width: 350px;
    }

    #prev-arrow,
    #next-arrow {
        /* border: 2px saddlebrown solid; */
        /* background-color: #ccc; */
        color: #4C4844;
        text-align: center;
        cursor: pointer;
        font-size: 1.5rem;
        width: 100%;
        padding-bottom: 0px;

    }

    #selected-date {
        text-align: center;
        font-size: 1rem;
        width: 200px;
        color: #4C4844;
        border: none;
    }


    .orderInformation {
        /* border: 2px seagreen solid; */
        margin-top: 60px;
    }


    .orderNumber p {
        font-size: 1rem;
        color: #4C4844;
    }

    .orderState {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0px;
        row-gap: 30px;
        /* border: 2px skyblue solid; */

    }

    .orderState p {
        color: #4C4844;
        font-size: 1rem;
    }

    .orderState__secLine p {
        font-size: 0.8rem;
    }

    .dispperDiv {
        color: #4C4844;
        /* border: 1px rgb(23, 219, 187) solid; */
        margin-Top: 40px;
        text-align: center;
        font-size: 1.2rem;
        opacity: 0.5;

    }


    .imgSize {
        width: 120px;
        padding-left: 20px;
        /* border: 1px red solid; */

    }

}