@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    color: #4c4844;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}