$fz: (
    title: 2rem,
    subTitle: 1.5rem,
    content: 1.5rem,
    search: 1.2rem,
    select: 1.2rem,
    special: 4rem
);
$fz390: (
    title: 1.5rem,
    subTitle: 1.2rem,
    content: 1.2rem,
    search: 1rem,
    select: 1rem,
    special: 3.5rem
);
$distance: (
    x: 3.125rem,
    y: 1.875rem,
    screenEdge: 2rem,
    toNav: 2.5rem,
    toFooter: 2.5rem,
    insideMargin: 1rem,
    insidePadding: 1rem
);
$color: (
    bg: #a6a4a2,
    word: #4c4844,
    btnHover: #4c4844
);
$imgRatio: 1.17;
$couponHeight: 10rem;