<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/backstage/quickMember" method="post">
        <p>帳號：<input type="text" name="uid"></p>
        <p>密碼：<input type="text" name="pwd"></p>
        <p>姓名：<input type="text" name="userName"></p>
        <p>Email：<input type="email" name="userEmail"></p>
        <p>電話：<input type="tel" name="userPhone"></p>
        <p>縣市：<input type="text" name="userCity"></p>
        <p>區域：<input type="text" name="userCounty"></p>
        <p>街道：<input type="text" name="userStreet"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>

</html>